*.gem
*.rbc
.bundle
.config
.DS_Store
.idea
.rvmrc
.ruby-version
.ruby-gemset
config/*.yml
coverage
db/*.sqlite3
InstalledFiles
lib/bundler/man
log
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
