---
http_interactions:
- request:
    method: get
    uri: https://ridestage.panopticdev.com/clearinghouse/api/v1/trip_tickets/sync?api_key=8dd54a1fa4364882199f522ce165e17d&hmac_digest=d3986368cfd53c41ba6562f97b07da0776ce7745&nonce=1373471653:1&timestamp=2013-07-10T11:54:13-04:00&updated_since=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - ! '"1e826a9dbc5ee3504010c304a5db396e"'
      Status:
      - '200'
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"id":8,"rescinded":false,"origin_provider_id":2,"origin_customer_id":"customer","origin_trip_id":null,"claimant_provider_id":null,"claimant_trip_id":null,"pick_up_location_id":27,"drop_off_location_id":28,"customer_address_id":26,"customer_first_name":"Harry","customer_last_name":"Potter","customer_middle_name":"","customer_dob":"1990-10-15","customer_primary_phone":"555-555-5555","customer_emergency_phone":"","customer_primary_language":"","customer_ethnicity":"","customer_race":"","customer_information_withheld":true,"customer_identifiers":{"customer
        attribute":"AARP"},"customer_notes":"","customer_boarding_time":0,"customer_deboarding_time":0,"customer_seats_required":1,"customer_impairment_description":"","customer_mobility_impairments":[],"customer_assistive_devices":[],"customer_service_animals":[],"customer_eligibility_factors":[],"num_attendants":0,"num_guests":0,"guest_or_attendant_service_animals":[],"guest_or_attendant_assistive_devices":[],"requested_pickup_time":"2000-01-01T13:15:00Z","earliest_pick_up_time":"2000-01-01T16:15:00Z","appointment_time":"2013-09-10T14:00:00Z","requested_drop_off_time":"2000-01-01T09:30:00Z","allowed_time_variance":-1,"trip_purpose_description":"","trip_funders":[],"trip_notes":"","scheduling_priority":"dropoff","created_at":"2013-02-02
        16:43:50.306253","updated_at":"2013-02-19 15:01:47.397431","is_originator":false,"originator":{"id":2,"name":"Shannon''s
        Provider","primary_contact_email":"panoptictest7+new@gmail.com","address":{"id":2,"address_1":"123
        Main Street","address_2":"","city":"Providence ","position":null,"state":"RI","zip":"02903","created_at":"2012-12-10T13:27:39Z","updated_at":"2012-12-10T13:27:39Z"}},"claimant":null,"customer_address":{"id":26,"address_1":"1
        Hogwarts Road","address_2":"","city":"Hogwarts","position":null,"state":"ND","zip":"56789","created_at":"2013-02-02T16:43:50Z","updated_at":"2013-02-02T16:43:50Z"},"pick_up_location":{"id":27,"address_1":"123
        Digon Alley","address_2":"","city":"Digon City","position":null,"state":"ND","zip":"56789","created_at":"2013-02-02T16:43:50Z","updated_at":"2013-02-02T16:43:50Z"},"drop_off_location":{"id":28,"address_1":"123
        Digon Alley","address_2":"","city":"Digon City","position":null,"state":"ND","zip":"56789","created_at":"2013-02-02T16:43:50Z","updated_at":"2013-02-02T16:43:50Z"},"trip_result":{"id":4,"actual_drop_off_time":"2000-01-01T00:00:00Z","actual_pick_up_time":"2000-01-01T00:00:00Z","base_fare":null,"billable_mileage":null,"driver_id":"change
        of driver","extra_securement_count":null,"fare":null,"fare_type":null,"miles_traveled":null,"odometer_end":null,"odometer_start":null,"outcome":"Completed","rate":null,"rate_type":null,"trip_claim_id":null,"trip_ticket_id":8,"vehicle_id":null,"vehicle_type":null,"created_at":"2013-03-27T12:19:56Z","updated_at":"2013-03-27T12:20:20Z"},"trip_claims":[{"id":9,"claimant_provider_id":3,"claimant_customer_id":null,"claimant_service_id":null,"claimant_trip_id":null,"trip_ticket_id":8,"status":"approved","proposed_pickup_time":"2013-02-11T19:07:00Z","proposed_fare":"","notes":"should
        auto-claim this.","created_at":"2013-02-11T19:07:53Z","updated_at":"2013-03-08T04:53:47Z","is_claimant":true}],"trip_ticket_comments":[]},{"id":5,"rescinded":false,"origin_provider_id":1,"origin_customer_id":"ABC","origin_trip_id":null,"claimant_provider_id":null,"claimant_trip_id":null,"pick_up_location_id":17,"drop_off_location_id":18,"customer_address_id":16,"customer_first_name":"Mike","customer_last_name":"provider","customer_middle_name":"","customer_dob":"1920-07-01","customer_primary_phone":"555-555-1234","customer_emergency_phone":"","customer_primary_language":"","customer_ethnicity":null,"customer_race":null,"custom[...]
- request:
    method: get
    uri: http://localhost:3000/api/v1/trip_tickets/sync?api_key=3d0fdf48c058b1f43bb63da689d1f8bd&hmac_digest=feb042a258a496b5497b159c1a0dcaf2d9e50984&nonce=1373474001:1&timestamp=2013-07-10T12:33:21-04:00&updated_since=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - ! '"ee04027be7256ba4cfa6efc3025bf2d0"'
    body:
   [...]
