import:
  enabled: true
  import_folder: tmp/import
  completed_folder: tmp/import_done

export:
  enabled: true
  export_folder: tmp/export

processors:
  pre_processor: processors/pre_processor.rb
  post_processor: processors/post_processor.rb