# TODO document all available Mail gem delivery options in comments
#
# connection:
#   delivery_method: smtp
#   address: smtp.myisp.com
#   port: 25
#   domain: your.host.name
#   user_name: login_name
#   password: password
#   authentication: plain
#   enable_starttls_auto: true
#   openssl_verify_mode: none
#   ssl: true/false
#   tls: true/false
#
# message_defaults:
#   to:
#   from:
#   subject:
#   body:

connection:
  delivery_method: smtp
  address: smtp.myhost.net
  port: 25
  domain: mycompany.com
  user_name: myname
  password: mypassword
  authentication: plain
  enable_starttls_auto: false
  openssl_verify_mode: none
  tls: false
  ssl: false

message:
  to: admin@provider_company.com
  from: adapter@provider_company.com
  subject: Error Notification
  body: The Clearinghouse Adapter has encountered an error.
